.leaflet-container {
  height: 100%;
}

.ui.input > input {
  text-align: right;
}

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Varela Round", sans-serif;
}

.ui * {
  direction: rtl;
  text-align: right;
}
.text {
  font-size: 16px;
}

html {
  box-sizing: border-box;
  font-size: 72.5%;
  background-color: var(--color-dark--1);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior-y: none;

  background-color: #fff;
}

.item {
  margin-top: 4px;
}

.ui.list .list > .item a.header,
.ui.list > .item a.header {
  color: #fff !important;
}

.sidebar_m {
  height: 100vh;
  background-color: var(--color-dark--1);
  padding: 0rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

MAP #map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}
